/*===================*\
#ADMIN STATS
\*===================*/

.stat-items-list {
    display: grid;
    gap: 20px;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    cursor: pointer;
    height: 100px;
}

.stat-item-icon {
    font-size: 40px;
    color: var(--accent);
}

.stat-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stat-info span {
    font-size: 30px;
}

/*responsive*/

@media screen and (min-width: 768px) {
    .stat-items-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .stat-items-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}