/*-----------------------------------*\
  #BLOG CONTENT
\*-----------------------------------*/
.all-blogs {
    background: var(--primary-200);
}

.all-blogs .container {
    display: grid;
    gap: 20px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
@media screen and (min-width: 768px) {
    .all-blogs .container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .all-blogs .container {
        grid-template-columns: repeat(3, 1fr);
    }
}
