/*-----------------------------------*\
  #ARTICLE CSS
\*-----------------------------------*/
.article-section {
    background: var(--white);
}

.article-title {
    color: var(--primary-900);
    text-align: center;
}

.category-label {
    background: var(--accent);
    width: max-content;
    padding: 5px;
    border-radius: var(--radius-10);
}

.article-section .container {
    display: grid;
    gap: 20px;
}

.live-link {
    color: var(--accent);
}

.published-date {
    font-style: italic;
    font-weight: 500;
}