/*===================*\
#ALL PROJECTS
\*===================*/
.projects-section {
    background: var(--primary-200);
    padding-block: 40px;
}

.projects-section .container {
    display: grid;
    gap: 30px;
}

.project-item {
    display: grid;
    gap: 20px;
}


.image-holder .img {
    border-top-left-radius: var(--radius-10);
    border-top-right-radius: var(--radius-10);
    height: 150px;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tag {
    padding: 10px;
    background: var(--accent-light);
    border-radius: var(--radius-10);
}

.project-links {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-end;
}

.project-links .button-link {
    display: flex;
    gap: 10px;
    align-items: center;
    background: var(--primary-900);
    color: var(--white);
    padding: 5px 10px;
    border-radius: var(--radius-10);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media screen and (min-width: 768px) {
    .project-item {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .projects-section .container > .project-item:nth-child(2n) .image-holder {
        order: 1;
    }

    .projects-section .container > .project-item:nth-child(2n) .image-holder .img {
        border-radius: 0 var(--radius-10) var(--radius-10) 0;
    }



    .image-holder .img {
        border-radius: var(--radius-10) 0 0 var(--radius-10);
        height: 300px;
    }
}