/*-----------------------------------*\
  #services
\*-----------------------------------*/

.services {
    background: var(--primary-200);
}

.services .container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background: var(--white);
    text-align: center;
    padding: 20px;
    border-radius: var(--radius-10);
    transition: var(--transition);
}

.service-icon {
    background: var(--accent);
    color: var(--white);
    display: grid;
    place-content: center;
    width: 60px;
    height: 60px;
    border-top-right-radius: var(--radius-30);
    border-top-left-radius: var(--radius-30);
    border-bottom-left-radius: var(--radius-30);
    font-size: 30px;
}

.service:is(:hover, :focus) {
    background: var(--primary-500);
    color: var(--white);
}

.service:is(:hover, :focus) .card-title {
    color: var(--accent);
}

.service:is(:hover, :focus) .service-icon {
    background: var(--white);
    color: var(--accent);
}