/*-----------------------------------*\
  #ADD ARTICLE
\*-----------------------------------*/
.add-article-form {
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-article-form label {
    text-transform: capitalize;
}