/*===================*\
#BREADCRUMBS
\*===================*/
.bread-crumbs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.bread-crumb-links {
    display: flex;
    gap: 10px;
}

.bread-crumb-link {
    display: flex;
    align-items: center;
}

.bread-crumb-link-icon {
    font-size: 20px;
    color: var(--accent);
}

/*responsive*/
@media screen and (min-width: 768px) {
    .bread-crumbs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}