/*===================*\
#ADMIN GLOBAL
\*===================*/
.admin-section {
    padding-block: 20px;
    margin-block: 20px;
}

.admin-btn {
    padding: 5px;
    border-radius: 5px;
    min-width: 50px;
}

.admin-btn-accent {
    background: var(--accent);
}

.admin-btn-danger {
    background: red;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 10px;
}
