/*===================*\
#ADMIN GLOBAL
\*===================*/
.admin-section {
    padding-block: 20px;
    margin-block: 20px;
}

.admin-btn {
    padding: 5px;
    border-radius: 5px;
    min-width: 50px;
}

.admin-btn-accent {
    background: var(--accent);
}

.admin-btn-danger {
    background: red;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 10px;
}

.admin-form-item {
    gap: 5px;
    max-width: 600px;
}

.admin-input {
    border-radius: 5px;
    border: none;
}

.admin-input:focus {
    border: 1px solid var(--accent);
}

.form-error {
    font-size: small;
    color: red;
}

.select-container {
    width: 100%;
    position: relative;
}

.select-btn {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--gray-light);
    color: var(--primary-900);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-container {
    position: absolute;
    top: 100%;
    background: var(--white);
    box-shadow: var(--shadow-2);
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: var(--transition);
    max-height: 150px;
    overflow-y: scroll;
    z-index: 5;
}

.options-container.active {
    visibility: visible;
    transform: scaleY(1);
}

.select-option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.checkbox {
    width: 30px;
}

.image-uploader {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file-input {
    display: none;
}

.upload-btn {
    padding: 5px;
    background: var(--accent);
    border-radius: 5px;
    width: max-content;
}

.image-container {
    border: 2px solid var(--accent);
    border-radius: var(--radius-10);
}

.image-container .img {
    max-width: 200px;
    max-height: 200px;
    border-radius: var(--radius-10);
    object-fit: contain;
}

.form-btn {
    padding: 5px;
    background: var(--accent);
    border-radius: 5px;
    max-width: 600px;
    margin-top: 50px;
}

.rc-md-editor{
    width: 100%;
}


