/*-----------------------------------*\
  #CUSTOM SLEEK
\*-----------------------------------*/
.slick-prev {
    margin-left: 20px;
}

.slick-next {
    margin-right: 20px;
}

.slick-prev, .slick-next {
    height: 30px;
    width: 30px;
    display: grid !important;
    background: var(--accent) !important;
    place-content: center;
    z-index: 2;
}

.slick-disabled {
    background: var(--accent-light) !important;
}

.slick-prev::before, .slick-next::before {
    font-size: 20px;
    color: var(--primary-900) !important;
}

.slick-slider .slick-slide {
    padding: 0 15px;
    height: auto;
}
.slick-slide > div{
    height: 100%;
}

.slick-slide > div .blog{
    justify-content: space-between;
}

.slick-track {
    display: flex !important;
    align-items: stretch !important;
}

